# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# jupyter notebooks
*ipynb*

# virtualenv
venv/

.idea/

# conda env
wfmu/

# mac stuff
.DS_Store
